div.pagination-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;

}
.pagination {
    margin: 25px 0 15px 0;
}
.pagination  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.pagination li, button.next, button.prev {
    margin-right: 5px;
    list-style-type: none;
    cursor: pointer;
    text-align: center;
    border: 1px solid transparent;
    background-color: aquamarine;
    padding: 10px;
    width: 40px;
    border-radius: 12px;
}
.pagination button.next, button.prev {
    width: 70px;
}

@media screen and (max-width: 430px) {
    .pagination li, button.next, button.prev {
        width: 30px;
        padding: 5px;
    }
    .pagination button.next, button.prev {
        width: 50px;
    }
}
@media screen and (max-width: 380px) {
    .pagination li, button.next, button.prev {
        width: 25px;
        padding: 3px;
    }
    .pagination button.next, button.prev {
        width: 40px;
    }
}
@media screen and (max-width: 325px) {
    .pagination li, button.next, button.prev {
        width: 20px;
        padding: 3px;
    }
    .pagination button.next, button.prev {
        width: 35px;
    }
}
